PORT=5001
MONGO_URI=mongodb+srv://divyasrikondetis_db_user:Piggychan@cluster0.mtv3ohs.mongodb.net/seo_audit_pro
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d

# Optional
# EMAIL_HOST=
# EMAIL_PORT=
# EMAIL_USER=
# EMAIL_PASS=
